---

- name: "8.3 | AUDIT | Ensure the backup and restore tool, 'pgBackRest', is installed and configured"
  block:
      - name: "8.3 | AUDIT | Ensure the backup and restore tool, 'pgBackRest', is installed and configured | Check for pgBackRest"
        ansible.builtin.shell: which pgbackrest
        changed_when: false
        failed_when: false
        register: pgs12cis_pgbackrest_status

      - name: "8.3 | AUDIT | Ensure the backup and restore tool, 'pgBackRest', is installed and configured | Missing pgBackRest"
        ansible.builtin.debug:
            msg:
                - "Warning!! You do not have pgBackRest installed. Please install and configure pgBackRest. This is a manual task."
        when: "'no pgbackrest' in pgs12cis_pgbackrest_status.stdout"

      - name: "8.3 | AUDIT | Ensure the backup and restore tool, 'pgBackRest', is installed and configured | pgBackRest installed"
        ansible.builtin.debug:
            msg:
                - "Good News! You have pgBackRest installed. Make sure it is configured appropriatly for things like"
                - "stanza name, backup location, retention policy, logging, etc. This is a manual task."
        when: "'no pgbackrest' not in pgs12cis_pgbackrest_status.stdout"

      - name: "8.3 | AUDIT | Ensure the backup and restore tool, 'pgBackRest', is installed and configured | Present"
        ansible.builtin.import_tasks: warning_facts.yml
  vars:
      warn_control_id: '8.3'
  when:
      - pgs12cis_rule_8_3
      - pgs12cis_section8
  tags:
      - level1-postgresqlonlinux
      - audit
      - rule_8.3
