---

- name: "8.2 | AUDIT | Ensure PostgreSQL subdirectory locations are outside the data cluster"
  block:
      - name: "8.2 | AUDIT | Ensure PostgreSQL subdirectory locations are outside the data cluster | Get directory settings"
        ansible.builtin.shell: psql -c "select name, setting from pg_settings where (name ~ '_directory$' or name ~ '_tablespace');"
        changed_when: false
        failed_when: false
        become_user: "{{ pgs12cis_pgs12_usr }}"
        register: pgs12cis_8_2_directory_settings

      - name: "8.2 | AUDIT | Ensure PostgreSQL subdirectory locations are outside the data cluster | Display settings"
        ansible.builtin.debug:
            msg:
                - "Warning!! Please inspect the file and directory permissions for all returned values."
                - "Only superusers and authorized users should have access control"
                - "rights for these files and directories. This is a manual task."
                - "{{ pgs12cis_8_2_directory_settings.stdout_lines }}"

      - name: "8.2 | AUDIT | Ensure PostgreSQL subdirectory locations are outside the data cluster | Present"
        ansible.builtin.import_tasks: warning_facts.yml
  vars:
      warn_control_id: '8.2'
  when:
      - pgs12cis_rule_8_2
      - pgs12cis_section8
  tags:
      - level1-postgresql
      - level1-postgresqlonlinux
      - audit
      - rule_8.2
