---

- name: "6.3 | AUDIT | Ensure 'Postmaster' Runtime Parameters are Configured"
  block:
      - name: "6.3 | AUDIT | Ensure 'Postmaster' Runtime Parameters are Configured | Get Postmaster runtime parameters"
        ansible.builtin.shell: psql -c "SELECT name, setting FROM pg_settings WHERE context = 'postmaster' ORDER BY 1;"
        changed_when: false
        failed_when: false
        become_user: "{{ pgs12cis_pgs12_usr }}"
        register: pgs12cis_6_3_postmaster_runtime_param

      - name: "6.3 | AUDIT | Ensure 'Postmaster' Runtime Parameters are Configured | Get process output"
        ansible.builtin.shell: ps aux | grep -E 'postgres' | grep -- '-[D]'
        changed_when: false
        failed_when: false
        register: pgs12cis_6_3_process_output

      - name: "6.3 | AUDIT | Ensure 'Postmaster' Runtime Parameters are Configured | Message out parameters"
        ansible.builtin.debug:
            msg:
                - "Warning!! Please review this output and compare with a previous OK output looking for any changes. This is a manual task."
                - "Also review the postgresql.conf and postgresql.auto.conf and compare them with previously archived files looking for changes"
                - "{{ pgs12cis_6_3_postmaster_runtime_param.stdout_lines }}"
                - ""
                - "Please review the process output below and look for parameters that were used at server startup"
                - "{{ pgs12cis_6_3_process_output.stdout_lines }}"

      - name: "6.3 | AUDIT | Ensure 'Postmaster' Runtime Parameters are Configured | Present"
        ansible.builtin.import_tasks: warning_facts.yml
  vars:
      warn_control_id: '6.3'
  when:
      - pgs12cis_rule_6_3
      - pgs12cis_section6
  tags:
      - level1-postgresql
      - level1-postgresqlonlinux
      - audit
      - rule_6.3
