---

# Section 4
# User Access and Authorization
- name: "4.1 | PATCH | Ensure sudo is configured correctly"
  block:
      - name: "4.1 | PATCH | Ensure sudo is configured correctly | Configure pg_wheel to sudoers"
        ansible.builtin.lineinfile:
            path: /etc/sudoers.d/postgres
            regexp: '^%pg_wheel ALL='
            line: '%pg_wheel ALL= /bin/su - {{ pgs12cis_pgs12_usr }}'
            create: true

      - name: "4.1 | PATCH | Ensure sudo is configured correctly | Set file permissions"
        ansible.builtin.file:
            path: /etc/sudoers.d/postgres
            mode: 0600
  when:
      - pgs12cis_rule_4_1
      - pgs12cis_section4
  tags:
      - level1-postgresqlonlinux
      - patch
      - rule_4.1
