# This is a basic workflow to help you get started with Actions

name: DevelToMain

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the devel branch
on:
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Refactr pipeline for devel pull request/merge
      - name: Refactr - Run RHEL 7 Pipeline (to main)
       # You may pin to the exact commit or the version.
        # uses: refactr/action-run-pipeline@be91e2796aa225268e4685c0e01a26d5f800cd53
        uses: refactr/action-run-pipeline@v0.1.2
        with:
          # API token
          api_token: '${{ secrets.REFACTR_KEY }}'
          # Project ID
          project_id: 5f47f0c4a13c7b18373e5556
          # Job ID
          job_id: 5f90ad90f9c74e6d1e606e33
          # Variables
          variables: '{ "gitrepo": "https://github.com/ansible-lockdown/POSTGRES-12-CIS.git", "image": "ami-074b33c23c01b6174", "username": "ec2-user" }'
          # Refactr API base URL
          api_url: # optional

      # Refactr pipeline for devel pull request/merge
      - name: Refactr - Run RHEL 8 Pipeline (to main)
       # You may pin to the exact commit or the version.
        # uses: refactr/action-run-pipeline@be91e2796aa225268e4685c0e01a26d5f800cd53
        uses: refactr/action-run-pipeline@v0.1.2
        with:
          # API token
          api_token: '${{ secrets.REFACTR_KEY }}'
          # Project ID
          project_id: 5f47f0c4a13c7b18373e5556
          # Job ID
          job_id: 5f90ad90f9c74e6d1e606e33
          # Variables
          variables: '{ "gitrepo": "https://github.com/ansible-lockdown/POSTGRES-12-CIS.git", "image": "ami-0f4b70d06fdbda578", "username": "ec2-user" }'
          # Refactr API base URL
          api_url: # optional

      # Refactr pipeline for devel pull request/merge
      - name: Refactr - Run Ubuntu 16 Pipeline (to main)
       # You may pin to the exact commit or the version.
        # uses: refactr/action-run-pipeline@be91e2796aa225268e4685c0e01a26d5f800cd53
        uses: refactr/action-run-pipeline@v0.1.2
        with:
          # API token
          api_token: '${{ secrets.REFACTR_KEY }}'
          # Project ID
          project_id: 5f47f0c4a13c7b18373e5556
          # Job ID
          job_id: 5f90ad90f9c74e6d1e606e33
          # Variables
          variables: '{ "gitrepo": "https://github.com/ansible-lockdown/POSTGRES-12-CIS.git", "image": "ami-08ec372e750b5355a", "username": "ubuntu" }'
          # Refactr API base URL
          api_url: # optional

      # Refactr pipeline for devel pull request/merge
      - name: Refactr - Run Ubuntu 18 Pipeline (to main)
       # You may pin to the exact commit or the version.
        # uses: refactr/action-run-pipeline@be91e2796aa225268e4685c0e01a26d5f800cd53
        uses: refactr/action-run-pipeline@v0.1.2
        with:
          # API token
          api_token: '${{ secrets.REFACTR_KEY }}'
          # Project ID
          project_id: 5f47f0c4a13c7b18373e5556
          # Job ID
          job_id: 5f90ad90f9c74e6d1e606e33
          # Variables
          variables: '{ "gitrepo": "https://github.com/ansible-lockdown/POSTGRES-12-CIS.git", "image": "ami-057f2a622a555f132", "username": "ubuntu" }'
          # Refactr API base URL
          api_url: # optional

      # Refactr pipeline for devel pull request/merge
      - name: Refactr - Run Ubuntu 20 Pipeline (to main)
       # You may pin to the exact commit or the version.
        # uses: refactr/action-run-pipeline@be91e2796aa225268e4685c0e01a26d5f800cd53
        uses: refactr/action-run-pipeline@v0.1.2
        with:
          # API token
          api_token: '${{ secrets.REFACTR_KEY }}'
          # Project ID
          project_id: 5f47f0c4a13c7b18373e5556
          # Job ID
          job_id: 5f90ad90f9c74e6d1e606e33
          # Variables
          variables: '{ "gitrepo": "https://github.com/ansible-lockdown/POSTGRES-12-CIS.git", "image": "ami-053378670dc69fa67", "username": "ubuntu" }'
          # Refactr API base URL
          api_url: # optional
